.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.detail-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centra vertical */
  align-items: center;      /* centra horizontal */
  overflow-y: auto;         /* evita que se suba cuando el contenido crece */
  padding: 20px;
  text-align: center;
}

.container strong {
    font-size: 20px;
    line-height: 26px;
}

.container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

.container a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* ocupa toda la altura visible */
    text-align: center;
}

#reader {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container-Qr {
    width: 20px;
}